{% extends "layout.html" %}

{% block body %}
    <h1>Past Simple</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dmJrYbDjxQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Ejemplos:</h3>
    <ul>
        <li>When I was a boy, I walked a mile to school every day.</li>
        <li>Did she play tennis when she was younger?</li>
        <li>We didn't get home until very late last night.</li>
    </ul>
    <br>
    <br>
    <p>Pon a prueba lo que aprendiste:</p>
    <a href="/test">Test</a>
    <br>
    <br>
    <a href="/">Inicio</a>
{% endblock %}