{% extends "layout.html" %}

{% block body %}
    <h1>Present Simple</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z19NAX_gWxI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Ejemplos:</h3>
    <ul>
        <li>During the week I have swimming practice on Mondays, I do taekwondo on Tuesdays and tennis on Thursdays.</li>
        <li>What does Angela do?</li>
        <li>Angela doesn't drive to work. She goes by bus.</li>
    </ul>
    <br>
    <br>
    <p>Pon a prueba lo que aprendiste:</p>
    <a href="/test">Test</a>
    <br>
    <br>
    <a href="/">Inicio</a>
{% endblock %}